USE [master]
GO
/****** Object:  Database [YouthBasketballLeague]    Script Date: 8/5/2026 14:33:52 ******/
CREATE DATABASE [YouthBasketballLeague]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YouthBasketballLeague', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\YouthBasketballLeague.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YouthBasketballLeague_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\YouthBasketballLeague_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YouthBasketballLeague].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YouthBasketballLeague]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 8/5/2026 14:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Coach] [varchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 8/5/2026 14:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[LocalTeamID] [int] NULL,
	[VisitorTeamID] [int] NULL,
	[MatchDate] [date] NOT NULL,
	[MatchTime] [time](7) NOT NULL,
	[Location] [varchar](100) NOT NULL,
	[LocalPoints] [int] NULL,
	[VisitorPoints] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_Standings]    Script Date: 8/5/2026 14:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Create the Automated Standings View
-- This automatically calculates wins, losses, points, and differentials from the Matches table.
CREATE VIEW [dbo].[v_Standings] AS
WITH MatchStats AS (
    -- Calculate stats for the Local Teams
    SELECT 
        LocalTeamID AS TeamID,
        1 AS Played,
        CASE WHEN LocalPoints > VisitorPoints THEN 3 WHEN LocalPoints = VisitorPoints THEN 1 ELSE 0 END AS Points,
        CASE WHEN LocalPoints > VisitorPoints THEN 1 ELSE 0 END AS Won,
        CASE WHEN LocalPoints = VisitorPoints THEN 1 ELSE 0 END AS Tied,
        CASE WHEN LocalPoints < VisitorPoints THEN 1 ELSE 0 END AS Lost,
        LocalPoints AS PointsFor,
        VisitorPoints AS PointsAgainst
    FROM Matches WHERE LocalPoints IS NOT NULL AND VisitorPoints IS NOT NULL
    
    UNION ALL
    
    -- Calculate stats for the Visitor Teams
    SELECT 
        VisitorTeamID AS TeamID,
        1 AS Played,
        CASE WHEN VisitorPoints > LocalPoints THEN 3 WHEN VisitorPoints = LocalPoints THEN 1 ELSE 0 END AS Points,
        CASE WHEN VisitorPoints > LocalPoints THEN 1 ELSE 0 END AS Won,
        CASE WHEN VisitorPoints = LocalPoints THEN 1 ELSE 0 END AS Tied,
        CASE WHEN VisitorPoints < LocalPoints THEN 1 ELSE 0 END AS Lost,
        VisitorPoints AS PointsFor,
        LocalPoints AS PointsAgainst
    FROM Matches WHERE LocalPoints IS NOT NULL AND VisitorPoints IS NOT NULL
)
-- Aggregate everything and ensure teams with 0 matches still show up via LEFT JOIN
SELECT 
    t.TeamID,
    t.Name AS Equipo,
    ISNULL(SUM(m.Points), 0) AS Puntos,
    ISNULL(SUM(m.Played), 0) AS PartidosJugados,
    ISNULL(SUM(m.Won), 0) AS PartidosGanados,
    ISNULL(SUM(m.Tied), 0) AS PartidosEmpatados,
    ISNULL(SUM(m.Lost), 0) AS PartidosPerdidos,
    ISNULL(SUM(m.PointsFor), 0) AS TantosAFavor,
    ISNULL(SUM(m.PointsAgainst), 0) AS TantosEnContra,
    ISNULL(SUM(m.PointsFor) - SUM(m.PointsAgainst), 0) AS DiferenciaDeTantos
FROM Teams t
LEFT JOIN MatchStats m ON t.TeamID = m.TeamID
GROUP BY t.TeamID, t.Name;
GO
/****** Object:  Table [dbo].[Administrators]    Script Date: 8/5/2026 14:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrators](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 8/5/2026 14:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT (NULL) FOR [LocalPoints]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT (NULL) FOR [VisitorPoints]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([LocalTeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD FOREIGN KEY([VisitorTeamID])
REFERENCES [dbo].[Teams] ([TeamID])
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([TeamID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [CHK_DifferentTeams] CHECK  (([LocalTeamID]<>[VisitorTeamID]))
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [CHK_DifferentTeams]
GO
USE [master]
GO
